<!doctype html>
<html lang="en">

<head>
    <title>Home |{% block title %}{% endblock title %}</title>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="blog.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/brands.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">
    <style>
        *,
        *:before,
        *:after {
            box-sizing: border-box;
        }
        
        html {
            font-size: 100%;
        }
    </style>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-nav align-items-center">
                <a class="navbar-brand" href="/" style="font-size: 30px">Blog Manager</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-link" href="{% url 'Myapp:contact' %}">Contact</a>
                    <a class="nav-link" href="{% url 'Myapp:service' %}">Service</a>
                    <a class="nav-link" href="{% url 'Myapp:about' %}">About</a>
                    <a class="nav-link" href="{% url 'Myapp:post_list_blog' %}">Blogs</a> {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'Myapp:post_new_blog' %}">New Post</a>
                    <a class="nav-item nav-link" href="{% url 'Myapp:fb_ads' %}">Show Ads</a>
                    <a class="nav-item nav-link" href="{% url 'Myapp:post_draft_list' %}">Drafts</a>
                    <a class="btn btn-outline-primary" href="{% url 'Myapp:logout' %}">{{user}} Logout</a> {% else %}
                    <a class="nav-link" href="{% url 'Myapp:register' %}">Register</a>
                    <a class="btn btn-outline-primary" href="{% url 'Myapp:login' %}"> <span class="fa fa-user" aria-hidden="true"></span></a> {%endif%}
                </div>
    </nav>

    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %} {% endif %} {% block body %} {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {% block js %}{% endblock %}