{% extends 'layout.html' %} {% block body %}

<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <div class="blog_posts">
                {% for post in posts %}

                <p class="date">created: {{ post.created_date|date:'d-m-Y' }}</p>
                <h1><a href="{% url 'Myapp:post_detail_blog' pk=post.pk %}">{{ posting.title }}</a></h1>
                <p>{{ posting.text|truncatechars:200 }}</p>

                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}